.btn {
	background-color: $light-blue;
	padding: 15px;
	transition: background-color $transition;
	text-decoration: none;
	font-size: 18px;
	line-height: 1.2;
	font-family: $ff-inter;
	text-transform: uppercase;
	color: $dark-blue;
	font-weight: 900;
	display: inline-block;
	border: none;
	cursor: pointer;

	@include mq(xl) {
		padding: 30px;
		font-size: 20px;
	}

	&:focus {
		outline: none;
	}

	&:hover {
		background-color: $light-blue-active;
	}

	&:active {
		background-color: #42BBFF;
	}

	&.disabled {
		background-color: $light-grey;
		color: rgba(19, 19, 63, 0.55);
	}
}