//- global media vars

$def: 320px;

$xs: 23.5em; // 376px @media (max-width: $xs) {}

$sm: 36em; // (min-width: 576px)
$md: 48em; // (min-width: 768px)
$lg: 62em; // (min-width: 992px)
$gl: 64em; //! gap `lg - xl` (min-width: 1024px)
$xl: 75em; // (min-width: 1200px)

//- to container

$col-sm: 540px; // (max-width: 540px)
$col-md: 720px; // (max-width: 720px)
$col-lg: 960px; // (max-width: 960px)
$col-xl: 1197px; // (max-width: 1197px)

$breakpoints: (
	sm: $sm,
	md: $md,
	lg: $lg,
	xl: $xl
);



// colors
$white: #fff;
$black: #000;
$light-grey: #E0E5FF;
$blue: #022E62;
$red-error: #FF4646;
$light-blue: #00BFFB;
$light-blue-active: #00A3FF;
$dark-blue: #13133F;


// fonts

$transition: .3s;